{{ ansible_managed | comment }}

#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#BASE	dc=example,dc=com
#URI	ldap://ldap.example.com ldap://ldap-provider.example.com:666

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

BASE	{{ openldap_ldap_conf_base }}
URI	{{ openldap_ldap_conf_uri | join(' ') }}
{% if openldap_ldap_conf_tls_cacert %}
TLS_CACERT	{{ openldap_ldap_conf_tls_cacert }}
{% endif %}
{% if openldap_ldap_conf_tls_cipher_suite %}
TLS_CIPHER_SUITE	{{ openldap_ldap_conf_tls_cipher_suite }}
{% endif %}
{% if openldap_ldap_conf_tls_protocol_min %}
TLS_PROTOCOL_MIN	{{ openldap_ldap_conf_tls_protocol_min }}
{% endif %}
{% if openldap_ldap_conf_tls_reqcert %}
TLS_REQCERT	demand
{% endif %}
TLS_REQSAN try
