#{{ ansible_managed | comment }}

#1.3.6.1.4.1.87.8.42.1   LDAP
#1.3.6.1.4.1.87.8.42.1.1 Attribute Types
#1.3.6.1.4.1.87.8.42.1.2 Object Classes

dn: cn=rz42,cn=schema,cn=config
objectClass: olcSchemaConfig
cn: rz42
olcAttributeTypes: {0}( 1.3.6.1.4.1.87.8.42.1.1.1 NAME 'rz42MailDomain' DESC
  'Mail Domain' EQUALITY caseIgnoreIA5Match SYNTAX 1.3.6.1.4.1.1466.115.121.
 1.26 SINGLE-VALUE )
olcAttributeTypes: {1}( 1.3.6.1.4.1.87.8.42.1.1.2 NAME 'rz42MailAlias' DESC 
 'Mail Alias' EQUALITY caseIgnoreIA5Match SYNTAX 1.3.6.1.4.1.1466.115.121.1.
 26 SINGLE-VALUE )
olcAttributeTypes: {2}( 1.3.6.1.4.1.87.8.42.1.1.3 NAME 'rz42MailAddress' DES
 C 'Destination Mail Address' EQUALITY caseIgnoreIA5Match SYNTAX 1.3.6.1.4.1
 .1466.115.121.1.26 )
olcAttributeTypes: {3}( 1.3.6.1.4.1.87.8.42.1.1.4 NAME 'rz42MailHostList' DE
 SC 'Destination Mail Host' EQUALITY caseIgnoreIA5Match SYNTAX 1.3.6.1.4.1.1
 466.115.121.1.26 SINGLE-VALUE )
olcAttributeTypes: {4}( 1.3.6.1.4.1.87.8.42.1.1.5 NAME 'rz42MailAliasDomain'
  DESC 'Destination Mail Domain' EQUALITY caseIgnoreIA5Match SYNTAX 1.3.6.1.
 4.1.1466.115.121.1.26 SINGLE-VALUE )
olcObjectClasses: {0}( 1.3.6.1.4.1.87.8.42.1.2.1 NAME 'rz42MailDomain' DESC 
 'Mail Domain' SUP top STRUCTURAL MUST rz42MailDomain MAY ( description $ rz
 42MailHostList $ rz42MailAliasDomain $ rz42MailAddress ) )
olcObjectClasses: {1}( 1.3.6.1.4.1.87.8.42.1.2.2 NAME 'rz42MailAlias' DESC '
 Mail Alias' SUP top STRUCTURAL MUST ( rz42MailAlias $ rz42MailAddress ) MAY
  description )
olcObjectClasses: {2}( 1.3.6.1.4.1.87.8.42.1.2.3 NAME 'rz42Person' DESC '
 Personal account' SUP top STRUCTURAL MAY mail )
